.drag-and-drop {
    cursor: move;
    position: absolute;
    top:300px;
    left:100px;
}
.free {
    position: absolute;
    top:0px;
    left:0px;
}
body , input , textarea , select {
    /* 入力欄にフォーカスが当たっても拡大しない */
    font-size:24px;
}
 
body {
    background-color : white;
}
